:root {
  font-family: "Open sans";
  color-scheme: light dark;

  --text-color: #000000;
  --bg-color: #ffffff;
  --description-color: #666666;
  --hover-color: #8db4fc;
}

:root[data-theme="dark"] {
  --text-color: #ffffff;
  --bg-color: #000000;
  --description-color: #777777;
  --hover-color: #8db4fc;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.theme-toggle:hover {
  color: var(--hover-color);
}

.theme-toggle .sun-icon,
.theme-toggle .moon-icon {
  width: 100%;
  height: 100%;
}

:root[data-theme="dark"] .moon-icon,
:root:not([data-theme="dark"]) .sun-icon {
  display: none;
}

:root[data-theme="dark"] .ghicon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: filter 0.3s ease;
}

:root[data-theme="light"] .ghicon {
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s ease;
}

:root[data-theme="dark"] .ghicon:hover,
:root[data-theme="light"] .ghicon:hover {
  filter: brightness(0) saturate(100%) invert(73%) sepia(12%) saturate(1090%)
    hue-rotate(194deg) brightness(103%) contrast(98%);
}

h1 {
  font-family: "ClashDisplay-Medium";
  font-size: 55px;
  margin: 0;
}

h2 {
  font-family: "ClashDisplay-Regular";
  font-size: 45px;
  margin-top: 60px;
  margin-bottom: -30px;
}

h3 {
  font-family: "ClashDisplay-Medium";
  font-size: 30px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.project-container:hover h3 {
  color: var(--hover-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 80px;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  max-height: 6vh;
  max-width: 6vh;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  align-self: center;
}

.main-section {
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

.about-me {
  font-size: 28px;
  font-family: "GeneralSans-Regular";
}

.project-container {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;
}

.project-container h3 {
  transition: color 0.3s ease;
  margin-bottom: 8px;
}

.project-container:hover h3 {
  color: #8db4fc;
}

.project-description {
  font-size: 22px;
  font-family: "GeneralSans-Regular";
  color: rgb(110, 110, 110);
  margin-top: 8px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
  }

  .header-left {
    flex-direction: row;
    align-items: center;
  }

  .image {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .buttons {
    margin-left: auto;
    margin-top: 0;
  }

  .main-section {
    margin-top: 20px;
  }

  .about-me {
    margin-bottom: 30px;
    font-size: 20px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 22px;
  }

  .project-container {
    margin-top: -30px;
    margin-bottom: -40px;
  }

  .project-description {
    font-size: 18px;
  }
}

/* Fonts */

/*
* @license
*
* Font Family: Clash Display
* Designed by: Indian Type Foundry
* URL: https://www.fontshare.com/fonts/clash-display
* © 2025 Indian Type Foundry
*
*/

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Regular.woff") format("woff"),
    url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Medium.woff") format("woff"),
    url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/**
* @license
*
* Font Family: General Sans
* Designed by: Frode Helland
* URL: https://www.fontshare.com/fonts/general-sans
* © 2025 Indian Type Foundry
*
*
*/

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff"),
    url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
